.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Form button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 40px;
    color: #fff;
    background-color: #1F590E;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 60%;
}

.Form button:hover {
    opacity: 0.9;
    transition: opacity 0.3s;
}

.Form button:active {
    opacity: 1;
    border: 1px solid black;
    color: #000;
}