.ContentCards{
    background-color: #F2BE08;
    border-radius: 10px;
    margin: 30px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

.ContentCards .innerContent{
    margin: 10px;
    background-color: #AFAFAF;
    opacity: 0.84;
    border-radius: 10px;
}

.ContentCards .title {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.ContentCards .title img {
    width: 200px;
}

.ContentCards .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ContentCards .images img{
    margin: 19px;
}

.ContentCards .home-top-container{
    display: flex;
    justify-content: space-between;
}

.ContentCards .home-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    font-size: 22px;
}

.ContentCards .home-top-container img{
    height: 400px;
}

