.ContentCards{
    background-color: #F2BE08;
    border-radius: 10px;
    margin: 30px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

.ContentCards .innerContent{
    margin: 10px;
    background-color: rgba(175, 175, 175, 0.8);
    border-radius: 10px;
}

.ContentCards .title {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.ContentCards .title img {
    width: 200px;
}

.ContentCards .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ContentCards .images img{
    margin: 19px;
}

.ContentCards .home-top-container{
    display: flex;
    justify-content: space-between;
}

.ContentCards .home-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    font-size: 22px;
}

.ContentCards .innerContent .home-top .botao{
    background-color: #B42884;
    border: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 10px 60px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.ContentCards .innerContent .home-top .botao:hover {
    opacity: 0.8;
}

.ContentCards .innerContent .home-top .botao:active {
    opacity: 1;
    border: 1px solid black;
    color: #000;
}

.ContentCards .home-content {
    width: 70%;
}

.ContentCards .home-top-container img{
    height: 400px;
}

