.Header {
    background-color: #050003;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .header-image {
    width: 135px;
}

.Header .header-button {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    background-color: #6C6964;
    border-radius: 10px;
    color: #fff;
    margin: 2px 10px;
    padding: 0px 30px;
    text-decoration: none;
}

.Header .header-button:hover{
    opacity: 0.8;
    transition: opacity 0.2s;
}

.Header .header-button:active {
    opacity: 1;
    border: 1px solid black;
    color: #000;
}
