.Footer{
    background-color: #fff;
}
.footer{
    background-color: #050003;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img{
    width: 43px;
    margin-left: 10px;
}